@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


.page-background {
    position: relative;
    background-image : url(/src/pages/assets/ascii-jack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hint-backgroud {
    position: relative;
    background-image : url('https://tupine.engr.tu.ac.th/assets/uploads/img/banner/image/20201021124039_FC1CE706-E404-4522-98D4-8FA3935E227A.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dark-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #21252952;
    width: 100%;
    height: 100%;
}

.main-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.flex-container > div {
    margin: 10px;
    padding: 20px;
}

.glass {
    /* From https://css.glass */
    background: rgba(11, 11, 11, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.page-background2 {
    position: relative;
    background-image : url(/src/pages/assets/ascii-tupine.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.roundborder {
    border-radius: 20px;
    background-color: rgb(250, 243, 240);
    position: relative;
    z-index: 1;
}
/* {<div class="kenburns-bg kenburns-bg-animate" style="background-image:url(https://tupine.engr.tu.ac.th/assets/uploads/img/banner/image/20201021124916_10428DB5-7638-4DC2-B1FE-FEFE384CC6FB.jpg)"></div>} */